# Anaconda and Jupyter Notebook

- <a href='https://www.anaconda.com/distribution/'>Download the Anaconda</a>
- Find the right version
- Install Step by step

# Jupyter Notebook
- Method 1
    - Open `Anaconda Navigator`
    - click `Jupyter notebook`
- Method 2
    - Open `Anaconda Prompt`
    - Type `jupyter notebook`

## Extensions
- There are some fancy <a href='https://github.com/ipython-contrib/jupyter_contrib_nbextensions'>features</a> in Jupyter notebooks.
- Open `Anaconda Prompt`
    - type `pip install jupyter_contrib_nbextensions` and enter
    - type `jupyter contrib nbextension install --user` and enter
    - to enable a feature you can do 
        - `jupyter nbextension enable codefolding/main`

## Install libraries
- For example, we want to install pandas
    - Open `Anaconda Prompt` and type `pip install pandas`

# Exercise

- In this exercise we are going to use `pandas` library.

In [3]:
## dont forget to import the library
import pandas as pd

### Read 3 files into pandas dataframe
- 3 sample files
    - `example1.txt` - data1
    - `example2.csv` - data2
    - `example3.csv` - data3

### make a new column
- make a new column called `target` in data1, set all the value to 1.

In [9]:
data1

           name   age   income  target
0       lee wan    24    40000       1
1  leslie knope    35    90000       1

### Transform
- make a new column called `income_next_year`. The value of this column is 106% of the income column.